<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/kiran/IdeaProjects/XYZBank_Automation">
        <classes>
            <class name="com.test.CustomerLoginTest">
                <methods>
                    <include name="GetCurrentTitle"/>
                    <include name="CoustomerLogin"/>
                    <include name="setDepositAmount"/>
                    <include name="setTransactions"/>
                    <include name="setWithdrawl"/>
                    <include name="logout"/>
                    <include name="managerlogin"/>
                    <include name="customers"/>
                    <include name="openacc"/>
                    <include name="setSearch"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>